// Background Colors
$background-white: #ffffff;
$background-light-gray: #f9fafb;
$background-dark-blue: #415161;

// Text Colors
$text-white: #ffffff;
$text-light-gray: #b5c0d1;
$text-blue-gray: #8496b3;
$text-gray: #626262;
$text-dark-gray: #546270;
$text-medium-gray: #515151;
$text-dark-blue: #415161;
$text-black: #000000;

// Border Colors
$border-light-gray: #e6e9eb;
$border-dark-blue: #415161;

// Accent
$accent: #FFA500;