// Background Colors
$background-white: #F6F6F6;
$background-light-gray: #f9fafb;
$background-dark-gray: #2F2F2F;
$background-dark-blue: #415161;

// Text Colors
$text-white: #F6F6F6;
$text-light-gray: #b5c0d1;
$text-blue-gray: #8496b3;
$text-gray: #626262;
$text-dark-gray: #546270;
$text-medium-gray: #515151;
$text-dark-blue: #415161;
$text-black: #111111;

// Border Colors
$border-light-gray: #e6e9eb;
$border-dark-gray: #2F2F2F;
$border-dark-blue: #415161;

// Accent
$accent: #FFCB74;
$accent1: #389C9A;