.masonry-grid {
  display: flex;
  margin-left: -16px;
  /* Adjust for consistent spacing */
  width: auto;

  .masonry-grid_column {
    padding-left: 16px;
    background-clip: padding-box;

    img {
      border-radius: 8px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(2);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.masonry-img {
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    width: "100%";
    height: "300px";
    object-fit: "cover";
    border-radius: "8px";
    box-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)";
  }
}